:root {
    --window-border: solid 2px #ffadad;
    --window-border-radius: 0;
    --window-background-color: linear-gradient(to bottom right, rgba(252, 114, 114, 0.9), rgba(255, 175, 123, 0.9));

    --terminal-background: rgba(239, 156, 156, 0.8);
    --terminal-font-family: 'Courier New', Courier, monospace;
    --terminal-font-size: 15px;
    --terminal-text-color: #ffffff;
    --terminal-scrollbar-color: #ffdada;
    --terminal-scrollbar-hover-color: #ffc6c6;

    --editor-text-font-family: 'Courier New', Courier, monospace;
    --editor-text-font-size: 15px;
    --editor-font-color: #fff;
    --editor-background-color: transparent;
    --editor-scrollbar-color: #ffdada;
    --editor-scrollbar-hover-color: #ffc6c6;
    --editor-saved-indicator-color: #ffdada;

    --context-menu-border: none;
    --context-menu-main-background: #ffbc9f;
    --context-menu-font-family: 'Courier New', Courier, monospace;
    --context-menu-font-size: 15px;
    --context-menu-text-color: #000;
    --context-menu-main-hover-background: #ff9d7f;
    --context-menu-main-hover-text-color: #fff;
    --context-menu-sub-background: #fdc8af;
    --context-menu-sub-text-color: #000;
}

::selection {
    background: #fff;
    color: rgba(252, 114, 114, 0.9);
}