:root {
    --primary-color: #13037a;
    --secondary-color: rgba(224, 215, 0, 0.95);

    --window-border: solid 2px var(--primary-color);
    --window-border-radius: 0;
    --window-background-color: var(--secondary-color);

    --terminal-background: rgba(30, 30, 30, 0.8);
    --terminal-font-family: 'Courier New', Courier, monospace;
    --terminal-font-size: 14px;
    --terminal-text-color: #fff;
    --terminal-scrollbar-color: #fff125;
    --terminal-scrollbar-hover-color: #867e10;

    --editor-text-font-family: 'Courier New', Courier, monospace;
    --editor-text-font-size: 14px;
    --editor-font-color: var(--primary-color);
    --editor-background-color: transparent;
    --editor-scrollbar-color: #000000;
    --editor-scrollbar-hover-color: #595959;
}