:root {
    --primary-color: #f6b18a;
    --secondary-color: rgba(100, 28, 28, 0.95);

    --window-border: solid 2px var(--primary-color);
    --window-border-radius: 0;
    --window-background-color: var(--secondary-color);

    --terminal-background: rgba(30, 30, 30, 0.8);
    --terminal-font-family: 'Courier New', Courier, monospace;
    --terminal-font-size: 14px;
    --terminal-text-color: #fff;
    --terminal-scrollbar-color: var(--secondary-color);
    --terminal-scrollbar-hover-color: rgba(98, 11, 11, 0.95);

    --editor-text-font-family: 'Courier New', Courier, monospace;
    --editor-text-font-size: 14px;
    --editor-font-color: var(--primary-color);
    --editor-background-color: transparent;
    --editor-scrollbar-color: var(--primary-color);
    --editor-scrollbar-hover-color: #ee8f67;
}